/* screen - prospector-map-43-101-report-pop-up */

.font-class-1 {
  color: var(--mako);
  font-family: "Gotham", Helvetica, Arial, serif;
  font-size: 14px;
  line-height: 14px;
}
.font-class-2 {
  font-family: 'Gotham-Bold', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.prospector-map-43-101-report-pop-up {
  background-color: var(--white);
  height: 1133px;
  position: relative;
  width: 1234px;
}
.prospector-map-43-101-report-pop-up .companyend-orporation-i9LdvS {
  background-color: transparent;
  height: 49px;
  left: 29px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: calc(23.53% - 12px);
  width: 230px;
}
.prospector-map-43-101-report-pop-up .deposit-ty-c-activity-Bp1hwL {
  background-color: transparent;
  height: 54px;
  overflow: hidden;
  position: absolute;
  right: calc(22%);
  text-align: left;
  top: 0px;
  width: 427px;
}
.prospector-map-43-101-report-pop-up .download-2-0UnOZs {
  background-color: transparent;
  height: 75.00%;
  left: 5.71%;
  position: absolute;
  top: 12.50%;
  width: 15.24%;
}
.prospector-map-43-101-report-pop-up .downloadre-t-document-0UnOZs {
  background-color: transparent;
  color: var(--cerulean);
  font-size: 14px;
  height: calc(100.00% - 8px);
  line-height: 14px;
  position: absolute;
  right: 4px;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: 129px;
}
.prospector-map-43-101-report-pop-up .ellipse-2-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 617px;
  position: absolute;
  top: 377px;
  width: 14px;
}
.prospector-map-43-101-report-pop-up .geographyb-rkina-faso-Hd0stf {
  background-color: transparent;
  height: 47px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  width: 277px;
}
.prospector-map-43-101-report-pop-up .group-17-i9LdvS {
  background-color: transparent;
  height: 20px;
  position: absolute;
  right: 21px;
  top: 28px;
  width: 20px;
}
.prospector-map-43-101-report-pop-up .group-18-i9LdvS {
  background-color: transparent;
  height: 55px;
  left: 30px;
  position: absolute;
  top: calc(44.87% - 25px);
  width: 658px;
}
.prospector-map-43-101-report-pop-up .group-19-i9LdvS {
  background-color: transparent;
  bottom: calc(31.28% - 16px);
  height: 52px;
  left: 29px;
  position: absolute;
  width: calc(100.00% - 80px);
}
.prospector-map-43-101-report-pop-up .group-20-i9LdvS {
  background-color: var(--white);
  border: 3px solid var(--cerulean);
  border-radius: 5px;
  height: 40px;
  position: absolute;
  right:  calc(53% - 180px );  /* 64px */;
  top: calc(23.04% - 9px);
  width: 175px;
}
.prospector-map-43-101-report-pop-up .group-21-i9LdvS {
  background-color: rgba(0,172,105,1.0);
  border: 3px solid rgba(0,172,105,1.0);
  border-radius: 5px;
  height: 40px;
  position: absolute;
  right: calc(53%);  /* 32.81% - 57px*/
  top: calc(23.04% - 9px);
  width: 175px;
}
.prospector-map-43-101-report-pop-up .image-12-hsZ6Eg {
  background-color: transparent;
  height: calc(100.00% + 93px);
  left: -16px;
  position: absolute;
  top: -40px;
  width: calc(100.00% + 196px);
}
.prospector-map-43-101-report-pop-up .image-8-C61RwL {
  background-color: transparent;
  height: 1248px;
  left: -1192px;
  position: absolute;
  top: -115px;
  width: 2426px;
}
.prospector-map-43-101-report-pop-up .image-8-VMr6Om {
  background-color: transparent;
  height: 1248px;
  left: -1192px;
  position: absolute;
  top: -115px;
  width: 2426px;
}
.prospector-map-43-101-report-pop-up .image-8-mzXdH9 {
  background-color: transparent;
  height: 1248px;
  left: -1192px;
  position: absolute;
  top: -115px;
  width: 2426px;
}
.prospector-map-43-101-report-pop-up .line-6-nrPP6T {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 1px);
}
.prospector-map-43-101-report-pop-up .line-7-nrPP6T {
  background-color: transparent;
  height: calc(100.00% + 1px);
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 1px);
}
.prospector-map-43-101-report-pop-up .line-8-i9LdvS {
  background-color: transparent;
  height: 1px;
  left: 1px;
  position: absolute;
  top: 83px;
  width: 100%;
}
.prospector-map-43-101-report-pop-up .machine-learning-chgx9D {
  background-color: transparent;
  height: 75.00%;
  left: 5.71%;
  position: absolute;
  top: 12.50%;
  width: 17.14%;
}
.prospector-map-43-101-report-pop-up .mask-group-7-C61RwL {
  background-color: transparent;
  height: 57px;
  left: 154px;
  overflow: hidden;
  position: absolute;
  top: 623px;
  width: 54px;
}
.prospector-map-43-101-report-pop-up .mineral-re-al-reserve-Bp1hwL {
  background-color: transparent;
  height: 54px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 240px;
}
.prospector-map-43-101-report-pop-up .mineralgold-Hd0stf {
  background-color: transparent;
  height: 35px;
  overflow: hidden;
  position: absolute;
  right: calc(49.74% - 138px);
  text-align: left;
  top: 0px;
  width: 277px;
}
.prospector-map-43-101-report-pop-up .path-1-PXp2nq {
  background-color: transparent;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.prospector-map-43-101-report-pop-up .path-10-PXp2nq {
  background-color: transparent;
  height: 1px;
  left: 2px;
  position: absolute;
  top: 17px;
  width: 1px;
}
.prospector-map-43-101-report-pop-up .path-11-5OmKxL {
  background-color: transparent;
  height: 24px;
  left: -0px;
  position: absolute;
  top: 6px;
  width: 27px;
}
.prospector-map-43-101-report-pop-up .path-12-5OmKxL {
  background-color: transparent;
  height: 19px;
  left: 6px;
  position: absolute;
  top: -0px;
  width: 16px;
}
.prospector-map-43-101-report-pop-up .path-13-5OmKxL {
  background-color: transparent;
  height: 7px;
  left: 14px;
  position: absolute;
  top: 0px;
  width: 7px;
}
.prospector-map-43-101-report-pop-up .path-14-5OmKxL {
  background-color: transparent;
  height: 1px;
  left: 8px;
  position: absolute;
  top: 3px;
  width: 6px;
}
.prospector-map-43-101-report-pop-up .path-15-5OmKxL {
  background-color: transparent;
  height: 1px;
  left: 8px;
  position: absolute;
  top: 6px;
  width: 6px;
}
.prospector-map-43-101-report-pop-up .path-16-5OmKxL {
  background-color: transparent;
  height: 1px;
  left: 8px;
  position: absolute;
  top: 9px;
  width: 11px;
}
.prospector-map-43-101-report-pop-up .path-17-5OmKxL {
  background-color: transparent;
  height: 1px;
  left: 8px;
  position: absolute;
  top: 12px;
  width: 11px;
}
.prospector-map-43-101-report-pop-up .path-18-5OmKxL {
  background-color: transparent;
  height: 1px;
  left: 8px;
  position: absolute;
  top: 14px;
  width: 11px;
}
.prospector-map-43-101-report-pop-up .path-19-5OmKxL {
  background-color: transparent;
  height: 4px;
  left: 8px;
  position: absolute;
  top: 22px;
  width: 11px;
}
.prospector-map-43-101-report-pop-up .path-2-PXp2nq {
  background-color: transparent;
  height: 1px;
  left: 13px;
  position: absolute;
  top: 11px;
  width: 1px;
}
.prospector-map-43-101-report-pop-up .path-20-5OmKxL {
  background-color: transparent;
  height: 3px;
  left: 13px;
  position: absolute;
  top: 20px;
  width: 1px;
}
.prospector-map-43-101-report-pop-up .path-21-5OmKxL {
  background-color: transparent;
  height: 3px;
  left: 11px;
  position: absolute;
  top: 22px;
  width: 4px;
}
.prospector-map-43-101-report-pop-up .path-3-PXp2nq {
  background-color: transparent;
  height: 1px;
  left: 17px;
  position: absolute;
  top: 2px;
  width: 1px;
}
.prospector-map-43-101-report-pop-up .path-4-PXp2nq {
  background-color: transparent;
  height: 1px;
  left: 19px;
  position: absolute;
  top: 2px;
  width: 8px;
}
.prospector-map-43-101-report-pop-up .path-5-PXp2nq {
  background-color: transparent;
  height: 1px;
  left: 17px;
  position: absolute;
  top: 4px;
  width: 10px;
}
.prospector-map-43-101-report-pop-up .path-6-PXp2nq {
  background-color: transparent;
  height: 1px;
  left: 17px;
  position: absolute;
  top: 6px;
  width: 1px;
}
.prospector-map-43-101-report-pop-up .path-7-PXp2nq {
  background-color: transparent;
  height: 1px;
  left: 19px;
  position: absolute;
  top: 6px;
  width: 1px;
}
.prospector-map-43-101-report-pop-up .path-8-PXp2nq {
  background-color: transparent;
  height: 1px;
  left: 2px;
  position: absolute;
  top: 15px;
  width: 1px;
}
.prospector-map-43-101-report-pop-up .path-9-PXp2nq {
  background-color: transparent;
  height: 1px;
  left: 2px;
  position: absolute;
  top: 14px;
  width: 1px;
}
.prospector-map-43-101-report-pop-up .prospector--logo-icon-i9LdvS {
  background-color: transparent;
  height: 6.40%;
  left: 3.22%;
  position: absolute;
  top: 5.70%;
  width: 4.29%;
}
.prospector-map-43-101-report-pop-up .qualified--r-m-sc-mec-i9LdvS {
  background-color: transparent;
  bottom: 22px;
  height: 60px;
  left: 29px;
  position: absolute;
  text-align: left;
  width: 610px;
}
.prospector-map-43-101-report-pop-up .rectangle-12-i9LdvS {
  background-color: transparent;
  border-radius: 5px;
  height: calc(100.00% + 18px);
  left: -9px;
  position: absolute;
  top: -6px;
  width: calc(100.00% + 18px);
}
.prospector-map-43-101-report-pop-up .report-dat-ber-5-2014-Hd0stf {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 277px;
}
.prospector-map-43-101-report-pop-up .span0-E4tYQ1 {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Bold', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span0-Em9OAf {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Bold', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span0-ILpmox {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Bold', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span0-RFWSKl {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Bold', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span0-hwNHS6 {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Bold', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span0-rYeIFy {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Bold', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span0-uDOLLm {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Bold', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span1-E4tYQ1 {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Book', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span1-Em9OAf {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Book', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span1-ILpmox {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Book', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span1-RFWSKl {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Book', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span1-hwNHS6 {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Book', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span1-rYeIFy {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Book', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span1-uDOLLm {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Book', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span2-uDOLLm {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Bold', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .span3-uDOLLm {
  color: rgba(69,69,85,1.0);
  font-family: 'Gotham-Book', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.prospector-map-43-101-report-pop-up .view-prosp-rai-sights-chgx9D {
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  height: calc(100.00% - 8px);
  line-height: 14px;
  position: absolute;
  right: 11px;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: 119px;
}
.prospector-map-43-101-report-pop-up .x144900-i9LdvS {
  background-color: transparent;
  color: var(--mako);
  font-size: 18px;
  height: 60px;
  left: 7.77%;
  line-height: 18px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: calc(4.98% - 2px);
  width: 570px;
}
.prospector-map-43-101-report-pop-up .x43-101-report-pop-up-C61RwL {
  background-color: transparent;
  height: 474px;
  left: 139px;
  position: absolute;
  top: 26px;
  width: 1000px;
}
:root {
  --cerulean: rgba(0,156,219,1.0);
  --mako: rgba(69,69,85,1.0);
  --white: rgba(255,255,255,1.0);
}
